{% if S_FORUM_POST %}
<div id="forum_auto_lock_options">
	<fieldset>
		<legend>{{ lang('ACP_FORUM_AUTO_LOCK_SETTINGS') }}</legend>
		<dl>
			<dt>
				<label for="enable_auto_lock">{{ lang('ACP_ENABLE_AUTO_LOCK') }}</label>
			</dt>
			<dd>
				<label>
					<input type="radio" id="enable_auto_lock" name="enable_auto_lock" value="1"{% if AUTO_LOCK_TOPICS_ENABLED %} checked="checked"{% endif %} /> {{ lang('YES') }}
				</label>
				<label>
					<input type="radio" name="enable_auto_lock" value="0"{% if not AUTO_LOCK_TOPICS_ENABLED %} checked="checked"{% endif %} /> {{ lang('NO') }}
				</label>
			</dd>
		</dl>

		<dl>
			<dt>
				<label for="auto_lock_announcements">{{ lang('ACP_AUTO_LOCK_ANNOUNCEMENTS') }}{{ lang('COLON') }}</label>
			</dt>
			<dd>
				<label>
					<input type="radio" id="auto_lock_announcements" name="auto_lock_announcements" value="1"{% if AUTO_LOCK_ANNOUNCEMENTS %} checked="checked"{% endif %} /> {{ lang('YES') }}
				</label>
				<label>
					<input type="radio" name="auto_lock_announcements" value="0"{% if not AUTO_LOCK_ANNOUNCEMENTS %} checked="checked"{% endif %} /> {{ lang('NO') }}
				</label>
			</dd>
		</dl>

		<dl>
			<dt>
				<label for="auto_lock_stickies">{{ lang('ACP_AUTO_LOCK_STICKIES') }}{{ lang('COLON') }}</label>
			</dt>
			<dd>
				<label>
					<input type="radio" id="auto_lock_stickies" name="auto_lock_stickies" value="1"{% if AUTO_LOCK_STICKIES %} checked="checked"{% endif %} /> {{ lang('YES') }}
				</label>
				<label>
					<input type="radio" name="auto_lock_stickies" value="0"{% if not AUTO_LOCK_STICKIES %} checked="checked"{% endif %} /> {{ lang('NO') }}
				</label>
			</dd>
		</dl>

		<dl>
			<dt>
				<label for="auto_lock_polls">{{ lang('ACP_AUTO_LOCK_POLLS') }}{{ lang('COLON') }}</label>
				<br /><span>{{ lang('ACP_AUTO_LOCK_POLLS_EXPLAIN') }}</span>
			</dt>
			<dd>
				<label>
					<input type="radio" id="auto_lock_polls" name="auto_lock_polls" value="1"{% if AUTO_LOCK_POLLS %} checked="checked"{% endif %} /> {{ lang('YES') }}
				</label>
				<label>
					<input type="radio" name="auto_lock_polls" value="0"{% if not AUTO_LOCK_POLLS %} checked="checked"{% endif %} /> {{ lang('NO') }}
				</label>
			</dd>
		</dl>

		<dl>
			<dt>
				<label for="auto_lock_days">{{ lang('ACP_AUTO_LOCK_DAYS') }}{{ lang('COLON') }}</label>
				<br /><span>{{ lang('ACP_AUTO_LOCK_DAYS_EXPLAIN') }}</span>
			</dt>
			<dd>
				<input type="number" id="auto_lock_days" name="auto_lock_days" maxlength="4" min="0" max="9999" value="{% if AUTO_LOCK_DAYS %}{{ AUTO_LOCK_DAYS }}{% else %}0{% endif %}" /> {{ lang('DAYS') }}
			</dd>
		</dl>

		<dl>
			<dt>
				<label for="auto_lock_freq">{{ lang('ACP_AUTO_LOCK_FREQ') }}{{ lang('COLON') }}</label>
				<br /><span>{{ lang('ACP_AUTO_LOCK_FREQ_EXPLAIN') }}</span>
			</dt>
			<dd>
				<input type="number" id="auto_lock_freq" name="auto_lock_freq" maxlength="4" min="0" max="9999" value="{% if AUTO_LOCK_FREQ %}{{ AUTO_LOCK_FREQ }}{% else %}0{% endif %}" /> {{ lang('DAYS') }}
			</dd>
		</dl>
	</fieldset>
</div>
{% endif %}
